.rotategif:hover
{height:30px;
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}
.btn-primary {
border-top-color: #CDC7FF;border-right-color: #7379CA;border-bottom-color: #5F83CA;border-left-color: #7379CA;border-width: 0px 1px 1px 1px;border-style: solid; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:11px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 4px 15px 4px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
   }
.btn-primary:hover {
   
 border-top-color: #D4D4D4;border-right-color: #D4D4D4;border-bottom-color: #D4D4D4;border-left-color: #D4D4D4;border-width: 0px 1px 1px 1px;border-style: solid;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
   }.btn-info {
border-top-color: #CDC7FF;border-right-color: #7379CA;border-bottom-color: #5F83CA;border-left-color: #7379CA;border-width: 0px 1px 1px 1px;border-style: solid; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:11px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 4px 15px 4px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
   }
.btn-info:hover {
   
 border-top-color: #D4D4D4;border-right-color: #D4D4D4;border-bottom-color: #D4D4D4;border-left-color: #D4D4D4;border-width: 0px 1px 1px 1px;border-style: solid;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
   }
   .btn-success {
border-top-color: #CDC7FF;border-right-color: #2E5C35;border-bottom-color: #5F83CA;border-left-color: #2E5C35;border-width: 0px 1px 1px 1px;border-style: solid; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:11px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 4px 15px 4px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #4dd14d; background-image: -webkit-gradient(linear, left top, left bottom, from(#4dd14d), to(#50B177));
 background-image: -webkit-linear-gradient(top, #4dd14d, #50B177);
 background-image: -moz-linear-gradient(top, #4dd14d, #50B177);
 background-image: -ms-linear-gradient(top, #4dd14d, #50B177);
 background-image: -o-linear-gradient(top, #4dd14d, #50B177);
 background-image: linear-gradient(to bottom, #4dd14d, #50B177);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4dd14d, endColorstr=#50B177);
   }
.btn-success:hover {
   
 border-top-color: #D4D4D4;border-right-color: #D4D4D4;border-bottom-color: #D4D4D4;border-left-color: #D4D4D4;border-width: 0px 1px 1px 1px;border-style: solid;
 background-color: #4dd14d; background-image: -webkit-gradient(linear, left top, left bottom, from(#4dd14d), to(#50B177));
 background-image: -webkit-linear-gradient(top, #4dd14d, #50B177);
 background-image: -moz-linear-gradient(top, #4dd14d, #50B177);
 background-image: -ms-linear-gradient(top, #4dd14d, #50B177);
 background-image: -o-linear-gradient(top, #4dd14d, #50B177);
 background-image: linear-gradient(to bottom, #4dd14d, #50B177);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4dd14d, endColorstr=#50B177);
   }.btn-default {
border-top-color: #cccccc;border-right-color: #cccccc;border-bottom-color: #cccccc;border-left-color: #cccccc;border-width: 1px 1px 1px 1px;border-style: solid; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:11px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 4px 15px 4px 15px; text-decoration:none; display:inline-block;
 background-color: #ffffff; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
 background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
 background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
 background-image: -o-linear-gradient(top, #ffffff, #ffffff);
 background-image: linear-gradient(to bottom, #ffffff, #ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffffff);
   }
.btn-default:hover {
   
 border-top-color: #D4D4D4;border-right-color: #D4D4D4;border-bottom-color: #D4D4D4;border-left-color: #D4D4D4;border-width: 1px 1px 1px 1px;border-style: solid;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #cccccc;
 background-color: #ffffff; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
 background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
 background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
 background-image: -o-linear-gradient(top, #ffffff, #ffffff);
 background-image: linear-gradient(to bottom, #ffffff, #ffffff);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffffff);
   }

   .btn-primary-lg {
border-top-color: #CDC7FF;border-right-color: #7379CA;border-bottom-color: #5F83CA;border-left-color: #7379CA;border-width: 0px 1px 1px 1px;border-style: solid; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:11px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 8px 15px 8px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
   }
.btn-primary-lg:hover {
   
 border-top-color: #CDC7FF;border-right-color: #ccc;border-bottom-color: #ccc;border-left-color: #ccc;border-width: 0px 1px 1px 1px;border-style: solid;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
   }
.btn-primary-lg-o {
border-top-color: #CDC7FF;border-right-color: #7379CA;border-bottom-color: #5F83CA;border-left-color: #7379CA;border-width: 0px 1px 1px 1px;border-style: solid; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:11px;font-family:lucida sans unicode, lucida grande, sans-serif; padding: 8px 15px 8px 15px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: orange; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc559), to(orange));
 background-image: -webkit-linear-gradient(top, #ffc559, orange);
 background-image: -moz-linear-gradient(top, #ffc559, orange);
 background-image: -ms-linear-gradient(top, #ffc559,orange);
 background-image: -o-linear-gradient(top, #ffc559, orange);
 background-image: linear-gradient(to bottom, #ffc559, orange);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=orange, endColorstr=orange);
   }
.btn-primary-lg-o:hover
 {

 border-top-color: #CDC7FF;border-right-color: #ccc;border-bottom-color: #ccc;border-left-color: #ccc;border-width: 0px 1px 1px 1px;border-style: solid;
 background-color: orange; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc559), to(orange));
 background-image: -webkit-linear-gradient(top, #ffc559, orange);
 background-image: -moz-linear-gradient(top, #ffc559, orange);
 background-image: -ms-linear-gradient(top, #ffc559,orange);
 background-image: -o-linear-gradient(top, #ffc559, orange);
 background-image: linear-gradient(to bottom, orange, orange);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=orange, endColorstr=orange);
   }
.btn.btn-signup {
    color: #ffffff;
    background-color: #FFA024;
    border-color: #fff #fff #fff;
}
.btn.call_to_act {
    color: #ffffff;
    text-shadow: none;
    border-color: #fff #fff #fff;
		
	background-image: linear-gradient(to bottom, orange, orange);

}
.btn.call_to_act:hover {
    color: #ffffff;
    text-shadow: none;
    border-color: #fff #fff #fff;
 
  background-image: linear-gradient(to bottom, #FFC354, #FFC354);

}
.bga {
    background-color: #5BC0DE;
      background-image: url(/img/bg-pattern.png);
	margin-top:-20px;
	z-index:-50px;
	height:auto;
}

.bg {
    background-color: #5BC0DE;
    background-image: url(/img/bg.png);
	margin-top:-20px;
	z-index:-50px;
	
	background-repeat: no-repeat;
    background-position: center; 
	 height:100%;
}
.bg2 {
    background-color: #5BC0DE;
    background-image: url(/img/bg.png);
	margin-top:-20px;
	z-index:-50px;
	height:auto;
	background-repeat: no-repeat;
    background-position: center; 
	 
}

.btn.btn-signup:hover {
    color: #ffffff;
    background-color: #F99122;
    border-color: #fff #fff #fff;
	
}
.circle-base
{
border-radius: 50%;
}
.type1
{
width:100px;
height:100px;
background: #5BC0DE;
border: 1px solid red;
}
.type2
{
width:60px;
height:50px;
background: #5BC0EF;
border: 1px solid green;
}
.text-color
{
color:#5BC0DE;
}
#body
{
height:auto;
width:100%;
background-color:#f2f1ef;
} 
.btn-orange
{
background-color:orange;
}
.text-orange
{
color:orange;
}
headr_piece { 
  background: url(/img/177506.jpg) no-repeat ; 
}
.bk-img
{
background-image:url(/img/demo/mykanta.jpg);
background-repeat:no-repeat;
}
line_black {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.headline
{
font-family: myFirstFont; 
color:#ccc;
font-style: normal;
font-size: 3.3em;
  font-weight: 1;
}
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Ubuntu-R.ttf);  
}

.ubuntu_font
{
font-family: myubuntu_font; 
color:#ccc;
font-style: normal;
  font-weight: 1;
}
@font-face {
    font-family: myubuntu_font;
    src: url(/fonts/Ubuntu-R.ttf);  
}

.ubuntu_all
{
font-family: myubuntu_font1; 
font-style: normal;
  font-weight: 1;
 font-size:1.2vw;
 color:white;
}
@font-face {
    font-family: myubuntu_font1;
    src: url(/fonts/Ubuntu-L.ttf);  
}
.ubuntu_font_lin
{
font-family: myubuntu_font2; 
color:#ccc;
font-style: normal;
  font-weight: 0.5;
}
@media (min-width: 100px) {
  .ubuntu_all{
    /* Minimum font size */
   font-size:1.0em;
  }
}
@media (max-width: 419px) {
  .ubuntu_all{
    /* Minimum font size */
   font-size:1.0em;
  }
}
@media (min-width: 700px) {
  .ubuntu_all{
    /* Minimum font size */
   font-size:1.2em;
  }
}
@media (max-width: 1200px) {
  .ubuntu_all{
    /* Minimum font size */
   font-size:1.2em;
  }
}

  
@font-face {
    font-family: myubuntu_font2;
    src: url(/fonts/Ubuntu-L.ttf);  
}
.habara{
    font-family: "myFirstFont", Verdana, Tahoma;
	font-style: normal;
}
#logo-group span#activity{
border-radius:15px;
cursor:default!important;
display:inline-block;
font-weight:700;
height:24px;
width:24px;
left:-60px;
padding:3px;
text-align:center;
text-decoration:none!important;
-moz-user-select:none;
-webkit-user-select:none;
background-color:#f8f8f8;
background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image:-webkit-gradient(linear,top left,bottom left,from(#f8f8f8),to(#f1f1f1));
background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
border:1px solid #bfbfbf;
color:#c4bab6;
font-size:20px;
margin:10px 5px 0;
position:relative;
}

#logo-group span#activity:hover{
border:1px solid #bfbfbf;-webkit-transition:all 0s;transition:all 0s;cursor:pointer!important;-webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,.08);box-shadow:inset 0 0 4px 1px rgba(0,0,0,.08)
}
#logo-group span#activity1{
border-radius:15px;
cursor:default!important;
display:inline-block;
font-weight:700;
height:24px;
width:24px;
left:-60px;
padding:3px;
text-align:center;
text-decoration:none!important;
-moz-user-select:none;
-webkit-user-select:none;
background-color:#f8f8f8;
background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image:-webkit-gradient(linear,top left,bottom left,from(#f8f8f8),to(#f1f1f1));
background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
border:1px solid #bfbfbf;
color:#c4bab6;
font-size:20px;
margin:10px 5px 0;
position:relative;
}

#logo-group span#activity1:hover{
border:1px solid #bfbfbf;-webkit-transition:all 0s;transition:all 0s;cursor:pointer!important;-webkit-box-shadow:inset 0 0 4px 1px rgba(0,0,0,.08);box-shadow:inset 0 0 4px 1px rgba(0,0,0,.08)
}
#logo-group>span b.badge1
{position:absolute;
top:-5px;
right:-5px;
cursor:pointer;
background:#0091d9;
display:inline-block;
font-size:10px;
box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
color:#fff;
font-weight:700;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
padding:2px 4px 3px;
text-align:center;
line-height:normal}

#activity.active .badge
{
background:#006fa6!important
}
   
.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
  }


.glyphicon-bell {
   
    font-size:1.5rem;
  }


  
  .notifications-wrapper {
     overflow:auto;
      max-height:80vh;
    }
    
 .menu-title {
     color:#ff7788;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }
 .font-xs
 {color:black;}

 p
 {color:black;}